.produtos1 {
    align-items: center; 
}

.produtos1 {
    align-items: center; 
    border: 1pt solid #fffcfc;
}

.produto img {
    align-items: center; 
    margin-top: 10px; 
}

.produto p {
    align-items: center; 
    margin: 0; 
}

.Valor {
    margin-top: 10pt;
    font-size: 15pt;
    margin: 0;
}

.TAM {
    margin-top: 10px; 
}

.descricao {
    margin-top: 10px; 
}

body{
    background-color: rgb(230, 230, 230)
}


.header {
    display: flex;
    background-color: rgb(42, 109, 109);
    align-items: center;
}

.header img {
    margin-right: 30px; 
    height: auto;
}

.nome *{
    align-items: center;
    text-align: center;
    color: rgb(230, 230, 230)
}

.menu{
    position: absolute;
    right: 0;
    margin-top: 0;
    padding: 10pt;
    border: 1pt solid #ccc;
    
}

.menu *{
    text-align: left;
    color: rgb(230, 230, 230)
}

*{
    font-family: georgia;
    color: rgb(0, 0, 0);
}